body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input:focus {
  outline: none;
}

input {
  width: 60px;
  height: 60px;
  text-align: center;
  margin: 1px;
  border: none;
}

.app {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-size: 14px;
}

.title {
  letter-spacing: 4px;
  font-size: 18px;
  height: 40px;
}

.message {
  height: 40px;
  color: navajowhite;
}

.valid {
  background-color: navajowhite;
}

.sidebar_icon {
  position: absolute;
  left: 0;
  top: 10px;
}

.sidebar_link:hover {
  cursor: pointer;
}
